.goods-more {
  padding-top: 29px;
}

.goods-more__title {
  position: relative;

  display: inline-flex;
  margin: 0;
  margin-bottom: 34px;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $color-main-font;

  &::after {
    content: "";
    position: absolute;
    top: 14px;
    left: calc(100% + 22px);

    display: inline-flex;
    width: 100vw;
    height: 3px;

    background-color: #68b738;
  }
}

@media (min-width: $tablet-width) {
  .goods-more {
    margin: 0;
    padding-top: 67px;
    padding-bottom: 0;
  }

  .goods-more__title {
    position: relative;

    margin: 0;
    margin-bottom: 80px;
    padding-left: 37px;

    font-size: 36px;
    line-height: 36px;

    &::before {
      content: "";
      position: absolute;
      top: 23px;
      right: calc(100% + 2px);

      display: inline-flex;
      width: 100vw;
      height: 3px;

      background-color: #68b738;
    }

    &::after {
      top: 23px;
      left: calc(100% + 35px);
    }
  }
}

@media (min-width: $desktop-width) {
  .goods-more {
    padding-top: 75px;
  }

  .goods-more__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .goods-more__title {
    margin-bottom: 80px;
    padding: 0;

    &::before {
      content: "";
      position: absolute;
      top: 23px;
      right: calc(100% + 40px);

      display: inline-flex;
      width: 100vw;
      height: 3px;

      background-color: #68b738;
    }

    &::after {
      top: 23px;
      left: calc(100% + 35px);
    }
  }
}
